/**
 * Styles du composant SummaryList
 *
 * Container avec titre "Summary" et liste d'InputScore
 */

@use '../../styles/main' as *;

.summaryList {
  // Flexbox vertical pour empiler le titre et les InputScore
  display: flex;
  flex-direction: column;
  gap: $spacing-300; // 24px entre le titre et la liste

  // Largeur complète
  width: 100%;
}

.title {
  // Typography - Text Preset 5 Bold (18px Bold)
  @include text-preset-5-bold;
  color: $color-navy-950;

  // Reset margin par défaut du h2
  margin: 0;

  @include mobile {
    padding-top: 32px;
  }
}
